
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* color: #000; */
    font-family: Poppins,sans-serif;
    font-weight: 400;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
    list-style: none;
}
.navbar {
  padding: 12px 0px;
}
header{
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  padding: 15px 0px;
}
.header a li{
  padding: 0 15px;
  list-style: none;
}
.container {
  width: 86%;
  margin: 0 auto;
}
.logo{
    font-size: 30px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  /*! width: 72%; */
  text-align: center;
  justify-content: center;
}
.item{
    color: #555252;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .8px;
    /*! line-height: 94px; */
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;

}
.mobile-menu-icon{
    display: none;
}
.close-nav{
    display: none;
}
.search-btn,.user-btn {
    color: #000;
    font-size: 23px;
    border: none;
    background: transparent;
    margin-left: 15px;
  }
  .compare-btn,.heart-btn,.cart-btn{
    color: #000;
    font-size: 25px;
    border: none;
    background: transparent;
    margin-left: 15px;
    position: relative;
  }
  .count{
    font-size: 12px;
    background-color: #000;
    color: #fff;
    height: 21px;
    display: inline-block;
    border-radius: 100%;
    width: 21px;
    text-align: center;
    line-height: 21px;
    position: absolute;
    top: -7px;
    right: -11px;
}
  .shopcart-close{
    display: none;
  }
  .shopping-cart{
    position: absolute;
    top: 13%;
    z-index: 1;
    right: 7%;
  }
  .no-item{
    background-color: #fff;
    padding: 10px;
    width: 370px;
    display: inline-block;
  }
  .cart-addded-item{
    width: 340px;
    height: auto;
    background-color: #fff;
    padding: 10px 35px;
    border-radius: 5px;
  }
  .cart-addded-item ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-img{
    margin-right: 10px;
    margin-top: 15px;
  }
  .product-img img{
    width: 50px;
    height: 50px;
    background: transparent;
  }
  li{
      list-style: none;
      margin-right: 30px;
  }
  .product-delete{
    background-color:#a749ff;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 80%;
  }
@media screen and (max-width:780px){
    .nav-links{
        display: none;
    }
    .nav-right-wrapper {
      width: 75%;
      text-align: right;
      }
    .navbar a li {
        padding: 0 0px;
      }
      .cart-btn {
        margin-right: 10px;
      }
      .search-btn,.user-btn {
        display: none;
      }
      .container {
        width: 89%;
        margin: 0 auto;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        right: 0;
        top: 0px;
        transition: all 0.5s ease-out;
        width: 73%;
        text-align: left;
        background-color: red;
        height: 49vh;
        z-index: 2;
    }
    .item{
        text-align: left;
        /*! padding: 32px; */
        width: 100%;
        transition: all 0.5s ease;
    }
    .signup{
        border: none;
    }
    .mobile-menu-icon{
      display: block;
      /*! position: absolute; */
      font-size: 30px;
      /* color: white;
      background-color: #00828c; */
      border: none;
      outline: none;
      top: 14px;
      right: 27px;
      background-color: transparent;
      /*! background-color: yellow; */
      /*! width: 27%; */
      /*! padding: 11px 0px; */
  }
    .logo {
      
      /* position: absolute; */
      
    }
}

