.home {
    display: flex;
}
  .productContainer {
    display: flex;
    width: 90%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  /* .filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
  }
  .filters > span {
    padding-bottom: 20px;
  }
  .summary {
    width: 30%;
  }
  .title {
    font-size: 30px;
  } */
  section {
    width: 100%;
  }
  
  .outer-wrapper {
    max-width: 100%;
    overflow-x: scroll;
    position: relative;
    scrollbar-color: #d5ac68 #f1db9d;
    scrollbar-width: thin;
    -ms-overflow-style: none;
  }
  .outer-wrapper th{
    width: 20%;
    border-top: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
  }
  table{
    border: 1px solid #ccc;
    width: 100%;
  }
  /* thead{
    border: 1px solid #ccc;
  } */
  /* .wishlist-tbl tr{
    display:flex;
  } */
  .outer-wrapper tbody tr td{
    align-items: center;
    width: 20%;
    height: 114px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outer-wrapper tbody tr td.img-td{
    justify-content: flex-start;
    padding: 30px 0 30px 30px;
  }
  .wishlist-tbl td img{
    width: 100px;
    height: 114px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .outer-wrapper::-webkit-scrollbar {
     width:50px!important;
  }
  
  .outer-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
     width:100px;
  }
  
  .outer-wrapper::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #d5ac68;
    width:100px;
  }
  
  .outer-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #f1db9d;
     width:100px;
  }
  
  .outer-wrapper::-webkit-scrollbar:vertical {
    display: none;
  }
  
  .inner-wrapper {
    display: flex;
    padding-bottom: 10px;
  }
  .select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.select-dropdown {
	position: relative;
	background-color: #E6E6E6;
	border-radius: 4px;
}
.select-dropdown select {
	font-size: 1rem;
	font-weight: normal;
	max-width: 100%;
	padding: 8px 34px 8px 10px;
	border: none;
	background-color: transparent;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
}
.cart-delete{
  display: block;
  background: transparent;
  border: none;
  color: #000;
  font-size: 26px;
}
.wishlist-buy-cart {
        color: #333;
        font-size: 15px;
        /* padding: 30px 0 30px 30px; */
        text-align: center;
        border: none;
        background: transparent;
        background-color: #a749ff;
        border-radius: 50px;
        padding: 10px 34px;
        color: #fff;
        display: block;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
}
.stockout{
    background-color: black;
}
@media (max-width:700px){
  .outer-wrapper tbody tr td {
    min-width: 163px;
}
  .outer-wrapper {
    max-width: 600px;
  
   }
   .home {
    display: flex;
    flex-direction: column;
  }
  .productContainer {
    width: 98%;
}
.wishlist-tbl th{
    width: 150px;
  }
  .wishlist-tbl td{
     width: 150px;
  }
  .wishlist-tbl td img{
    width: 87px;
    height: 83px;
  }
  .summary {
    width: 94%!important;
    margin: 0 auto;
  }
  
 .filters {
  height: 32vh;
  }
  .productContainer {
    padding: 20px;
}
}