.product-section {
    width: 100%;
}

.product-section .product-container {
    width: 90%;
    margin: 0 auto;
}

.product-section .product-container .product-row {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 100%;
}

.product-section .product-container .product-row .product-box {
    width: 23%;
    overflow: hidden;
    margin-right: 2%;
}
.product-tab-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #fff;
}
.product-tab-list .nav-links{
    margin: 0 11px;
    color: #706767;
    padding: 0px 0px 30px 0px;
    display: inline-block;
    text-decoration: none;
}
.product-tab-list .nav-links h4{
    font-size: 21px;
    font-weight: 500;
}
.product-tab-list .nav-links.active{
    color: #000;
}
.product-section .product-container .product-row .product-box .product-imge {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.product-section .product-container .product-row .product-box .product-imge .product-functionality {
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    background-color: #a749ff;
    transition: all .5s ease;
}

.product-section .product-container .product-row .product-box .product-imge .img-box img {
    width: 100%;
    transition: opacity 0.5s ease;
}
.product-section .product-container .product-row .product-box .product-imge .img-box img:hover {
    opacity: 0.7;
  }
.whilelsit {
    width: 15%;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a749ff;
    cursor: pointer;
    transition: all .5s ease;
    color: #fff;
}

.whilelsit button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.whilelsit button .wishlist-icon {
    color: #fff;
}

.add-remove-btn {
    width: 70%;
    border-right: 1px solid hsla(0, 0%, 100%, .2);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
    text-transform: capitalize;
    font-size: 16px;
}

.add-remove-btn button {
    width: 100%;
    height: 100%;
}

.quick-view {
    width: 15%;
}

/* .link-quick-view{
    width: 15%;
    height: 48px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
} */
/* .quick-view a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: none;
    color: #fff;
}
.quick-view a .quick-view-icon{
    width: 100%;
    height: 100%;
} */
.link-quick-view {
    display: inline-block;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
    color: #fff;
}

.product-image-batch {
    position: absolute;
    top: 15px;
    right: 18px;
    z-index: 1;
}
.product-image-batch .pink{
    background-color: #fa6bff;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    padding: 3px 11px;
}
.quick-view a:hover {
    color: #fff;
    background-color: #000;
}

.product-box .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0px;
}

.add-to-cart-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

.remove_from_cart {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

.add-remove-btn:hover {
    background-color: #000;
    color: #fff;
}

.whilelsit:hover {
    background-color: #000;
    color: #fff;
}

.quick-view:hover {
    background-color: #000;
    color: #fff;
}

.product-section .product-container .product-row .product-box:hover .product-functionality {
    bottom: 0;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 30px;
}

.section-title b {
    display: block;
    /* flex: 1; */
    width: 118px;
    height: 2px;
    opacity: .9;
    background-color: #abb8c3;
}

.section-title-main {
    margin: 0 15px;
    font-size: 30px;
    font-weight: 600;
}

.star {
    color: #ffe234;
}

@media screen and (max-width:500px) {
    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0px;
    }

    .section-title b {
        display: block;
        flex: 1;
        height: 2px;
        opacity: .9;
        background-color: #abb8c3;
    }
    .product-tab-list .nav-links h4 {
        font-size: 16px;
        font-weight: 500;
    }
}