.main-img {
  width: 89%;
  height: 462px;
  object-fit: cover;
  margin-top: 100px;
  margin-bottom: 100px;
}

.image-wrapper {
  display: flex;
}

.product-detailsSection {
  width: 100%;
}

.product-container {
  width: 90%;
  margin: 0 auto;
}

.product-detailsSection-row {
  display: flex;
}

.detail-left {
  width: 60%;
}

.detail-right {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 40%;
}

.detail-right h2 {
  color: #010101;
  font-size: 24px;
  line-height: 1;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.image-wrapper img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-wrapper img.active {
  border: 2px solid blue;
}

.product-details-price {
  align-items: center;
  display: flex;
  margin: 15px 0 26px;
}

.product-details-price span {
  color: #fe5252;
  font-size: 24px;
}

.star_icon {
  color: #ffe234;
}

.product-details-list {
  border-bottom: 1px solid #e5e5e5;
  margin: 20px 0 34px;
  padding: 0 0 37px;
}

.product-details-list p {
  color: #333;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
}

.product-details-functionality {
  margin: 0 25px 0 0px;
  display: flex;
  align-items: center;
}

.product-details-functionality .btn {
  background: none;
  background-color: #343538;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 23px 38px;
  text-transform: uppercase;
  z-index: 99;
}

.Add_to_wishlist {
  background: none;
  border: none;
  background: transparent;
  color: #000;
  font-size: 18px;
  padding-left: 15px;
}

.Add_to_compare {
  background: none;
  border: none;
  background: transparent;
  color: #000;
  font-size: 18px;
  padding-left: 15px;
}

.pro-details-category {
  display: flex;
  padding-top: 10px;
  padding-bottom: 12px;
}

.pro-details-category span {
  color: #676767;
  font-size: 15px;
  margin-right: 5px;
}

ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.pro-details-category ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.pro-details-category ul li a {
  color: #676767;
  font-size: 15px;
  text-decoration: none;
}

.pro-details-tag {
  display: flex;
}

.pro-details-tag span {
  color: #676767;
  font-size: 15px;
  margin-right: 5px;
}

.pro-details-tag ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.pro-details-tag ul li a {
  color: #676767;
  font-size: 15px;
  text-decoration: none;
}

.pro-details-social {
  margin-top: 25px;
}

.pro-details-social ul {
  display: flex;
}

.pro-details-social ul li {
  margin-right: 40px;
}

.pro-details-social ul li a {
  color: #343538;
  font-size: 16px;
}

/* .description-review-wrapper{
  border-bottom: 1px solid #d7d7d7;
} */
/* .description-review-top {
  display: flex;
  justify-content: space-between;
  width: 53%;
  margin: 0 auto;

} */
.description-review-top ul {
  display: flex;
  justify-content: space-between;
}

.description-review-top ul li a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  margin: 0 15px;
  padding: 0 0 13px;
  color: #000;
}

.description-review-top {
  border-bottom: 1px solid #d7d7d7;
  padding: 98px 0px 20px;
  width: 90%;
  margin: 0 auto;
}

.description-review-container {
  width: 58%;
  margin: 0 auto;
}

.selected-item {
  border-bottom: 3px solid #000;
}

.singlepage-review-left {
  width: 59%;
}

.single-rivew {
  display: flex;
  margin: 0 0 50px;
}

.review-left {
  display: flex;
}

.review-name {
  margin-right: 25px;
}

.review-name h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #000;
  font-family: Poppins, sans-serif;
}

.review-top-wrap {
  display: flex;
  justify-content: space-between;
}

.review-bottom {
  width: 84%;
}

.single-rivew.child {
  margin-left: 30px;
}

.singlepage-review-row {
  margin-top: 20px;
  display: flex;
}

.review-img {
  padding-right: 10px;
}

.review-rating i {
  color: #ffa900;
  font-size: 12px;
  margin-right: 1px;
}

.review-right button {
  background: none;
  border: none;
}

.right-ratting-form {
  width: 41%;
}

.ratting-form-wrapper {
  padding-left: 50px
}

.ratting-form-wrapper h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: #000;
  font-family: Poppins, sans-serif;
}

.ratting-form .star-box {
  display: flex;
  margin: 6px 0 20px;
}

.ratting-form .star-box span {
  margin: 0 15px 0 0;
}

.ratting-star {
  color: #ffa900;
  font-size: 12px;
  margin: 2px 0 0;
}

.right-ratting-form .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  width: 49%;
}

.pro-details-wishlist button {
  background: transparent;
  border: none;
  font-size: 20px;
  padding-left: 25px;
}

.col-1 input {
  width: 100%;
  background: transparent;
  border: 1px solid #e6e6e6;
  color: #333;
  padding: 2px 10px 2px 20px;
  height: 45px;

}

input:focus {
  outline: none;
}

.col-2 {
  width: 49%;
}

.col-2 input {
  width: 100%;
  background: transparent;
  border: 1px solid #e6e6e6;
  color: #333;
  padding: 2px 10px 2px 20px;
  height: 45px;
}

.col-3 {
  width: 100%;
}

.col-3 textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #e6e6e6;
  color: #333;
  padding: 2px 10px 2px 20px;
  height: 180px;
  outline: none;
  font-size: 14px;
}

.rating-form-style {
  margin-bottom: 10px;
}

.form-submit input {
  background-color: #a749ff;
  border: 1px solid #a749ff;
  color: #fff;
  font-weight: 500;
  height: auto;
  padding: 12px 50px;
  text-transform: uppercase;
  width: auto;
}

.product-anotherinfo-wrapper ul li {
  color: #333;
  font-size: 14px;
  list-style: none outside none;
  margin: 0 0 13px;
}

.product-anotherinfo-wrapper ul li span {
  color: #000;
  display: inline-block;
  font-weight: 500;
  margin: 0 26px 0 0;
  min-width: 85px;
}

.product-anotherinfo-wrapper {
  padding-top: 20px;
}

.pt-20 {
  padding-top: 20px;
}

@media screen and (max-width:700px) {
  .product-detailsSection-row {
    flex-direction: column;
  }

  .singlepage-review-row {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .description-review-top {
    width: 90%;
    margin: 0 auto;
  }

  .description-review-top ul li a {
    font-size: 19px;
    font-weight: 600;
    margin: 0px 14px;
  }

  .single-rivew {
    flex-direction: column;
    width: 100%;
  }

  .singlepage-review-left {
    width: 100%;
  }

  .single-rivew.child {
    margin-left: 0px;
  }

  .right-ratting-form {
    width: 100%;
  }

  .ratting-form-wrapper {
    padding-left: 0px;
  }

  .review-bottom {
    width: 90%;
  }

  .description-review-top {
    width: 95%;
  }

  .detail-right {
    width: 100%;
  }

  .product-container {
    width: 86%;
  }

  .detail-left {
    width: 100%;
  }

  .main-img {
    width: 100%;
    margin-bottom: 23px;
    height: 325px;
  }

  .image-wrapper img {
    margin-right: 10px;
    width: 54px;
    height: 59px;
    object-fit: cover;
  }

  .detail-right {
    margin-top: 33px;
    margin-bottom: 26px;
  }

}

@media screen and (max-width:500px) {
  .description-review-top ul li a {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 3px;
  }

  .description-review-top {
    width: 100%;
    padding: 16px 0px 20px;
  }

  .description-review-container {
    width: 90%;
    margin: 0 auto;
  }
}