.compare{
    width: 100%;
}
.compare-container {
    margin-top: 20px;
    /* max-width: 700px;
    overflow-x: auto; */
    width: 90%;
    margin: 0 auto;
  }

  .compare-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  .compare .compare-container  .compare-table th, .compare-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    /* border-top: 1px solid #ddd; */
  }